<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="stylesheet" href="style.css">
	<style>
		*{
			padding: 0;
			margin: 0;
		}

		ul{
			display:flex;
			width: 1200px;
			margin:0 auto;
		}

		li{
			list-style: none;
			width: 200px;
			text-align: center;
			border: solid 3px #dda0dd;
			background-color: #d3d3d3;
		}

		a{
			text-decoration: none;
		}

		input{
			border-radius: 50%;
			width: 30px;
			height: 30px;
		}

		.red{
			background-color:#dc143c;
		}

		.orange{
			background-color:#ff8c00;
		}

		.blue{
			background-color:#6495ed;
		}

		.paple{
			background-color:#da70d6;
		}


		.green{
			background-color:#90ee90;
		}

		.brown{
			background-color:#cd853f;
		}

		.gray{
			background-color:#a9a9a9;
		}

		.black{
			background-color:#000000;
		}
	</style>
</head>




<body>
	<div>
	</div>

	<div>

	 <nav>
	  <ul>
		 <li ><a href="/">hair style</a>
		 <li ><a href="/">eye brow</a>
		 <li ><a href="/">color contact</a>
		 <li ><a href="/">eye shadow</a>
		 <li ><a href="/">lipstick</a>
		 <li ><a href="/">cheek</a>
		 </ul>
		</nav>
	</div>


  <div>
	 <input class="red" type="submit" value="">
	 <input class="orange" type="submit" value=""><br>
	 <input class="blue" type="submit" value="">
	 <input class="paple" type="submit" value=""><br>
	 <input class="green" type="submit" value="">
	 <input class="brown" type="submit" value=""><br>
	 <input class="gray" type="submit" value="">
	 <input class="black" type="submit" value="">




</body>
</html>
